@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Red Hat Display";
        font-weight: 900;
        src: url("./fonts/RedHatDisplay-Black.ttf");
    }
    @font-face {
        font-family: "Red Hat Display";
        font-weight: 700;
        src: url("./fonts/RedHatDisplay-Bold.ttf");
    }
    @font-face {
        font-family: "Red Hat Display";
        font-weight: 500;
        src: url("./fonts/RedHatDisplay-Medium.ttf");
    }
}